body {
  background: orange;
}
h1 {
  margin: 3rem;
}
div {
  margin: 3rem;
}
a {
  margin: 1rem;
}
#star-container {
margin: 1rem;
  background-color: blue;
}
.star  {
background-color: purple;
}
.star-rated {
  background-color: red;
}
#comment {
}